.accountStatus{
    padding: 6px 10px;
    background: #017287;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
}
.accountStatus__changeStatus{
    margin-right: 10px;
    width: 42px;
    height: 42px;
    pointer-events: none;
}
.accountStatus__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.accountStatus__text_bold{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 5px;
}
.accountStatus__box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 576px) {
    .accountStatus__box{
        flex-direction: column-reverse;
    }
    .accountStatus__changeStatus{
        margin-top: 10px;
    }
}