.headerTitle{
    height: 360px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px 60px;
    /*word-break: break-all;*/
}
.headerTitle__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    .headerTitle{
        padding: 20px 20px;
    }
}
