.titleInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.titleInput__inputBox{
    width: 100%;
    position: relative;
}
.titleInput__title{
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 16px;
    color: #333333;
    margin: 10px 5px;
}
.titleInput__input{
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px 5px 11px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
}
.titleInput__input_error::placeholder {
    color: red;
}
.titleInput__image {
    cursor: pointer;
    position: absolute;
    right: 5px;
}