.button {
    padding: 10px 16px;
    background: #436AEB;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
    border-radius: 8px;
    cursor: pointer;

}
.button__p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18.7377px;
    line-height: 31px;
    color: #FFFFFF;
}
.button__img{
    width: 30px;
}