.button{
    padding: 10px 57px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(8px 8px 24px rgba(2, 2, 70, 0.05));
    border-radius: 8px;
    background: white;
    cursor: pointer;

}

.button__p{
    ont-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18.7377px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.8);
}