.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__background{
    background: radial-gradient(109.11% 212.69% at 1.42% 100%, #FFFFFF 0%, #9FE3F0 10.7%, #78C2EB 20.69%, #858EE3 29.7%, #30C4E0 72.78%, #7BDDEF 86.38%, #ADDCE4 93.37%, #84E6F9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.about__box{
    width: 1300px;
    max-width: 100vw;
    margin: 15px 10px 50px;
    background: white;
    /*padding: 50px;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 50px 0 40px;
}

.about__paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin: 40px 0 20px;
}

.about__paragraph_bold{
    font-weight: 800;
}

.about__photo{
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.about__textBox{
    padding: 0 50px;
}
@media (max-width: 576px) {
    .about__textBox{
        margin: 0 10px;
        padding: 0 10px;
    }
    .about__photo{
        height: 250px;
    }
    .about__title{
        margin: 20px 0 0;
    }
}