.smartCityScanner{

}
.smartCityScanner__box{
    padding: 20px 100px 100px;

}
.smartCityScanner__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.6);
}

.smartCityScanner__selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "rei1 rei1 rei2 rei2 rei3 rei4"
    "rei5 rei6 rei7 rei7 rei3 rei8"
    "rei9 rei10 rei10 rei11 rei12 rei12"
    "rei13 rei13 rei14 rei15 rei15 rei16"
    "rei17 rei17 rei14 rei18 rei18 rei16"
    "rei19 rei20 rei20 rei21 rei22 rei22";
}

.smartCityScanner__selectTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    color: #FFFFFF;
}
.smartCityScanner__item {
    border: 1px solid red;
    position: relative;
    min-height: 200px;
    background: #436AEB;
    border: 1px solid #BFB8B8;border: 1px solid #BFB8B8;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}