.smartCityScanner{

}
.smartCityScanner__box{
    padding: 20px 100px 100px;
    width: 1400px;
    max-width: 100vw;
    margin: 0 auto;
}
.smartCityScanner__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.6);
}

.smartCityScanner__selectionSocialSphere {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "socialSphere1 socialSphere1 socialSphere2 socialSphere3 socialSphere3"
    "socialSphere4 socialSphere5 socialSphere2 socialSphere6 socialSphere6"
    "socialSphere7 socialSphere7 socialSphere8 socialSphere8 socialSphere9"
    "socialSphere10 socialSphere10 socialSphere11 . .";
    margin-bottom: 80px;
}
.smartCityScanner__selectionUrbanEconomy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "urbanEconomy1 urbanEconomy1 urbanEconomy2 urbanEconomy3 urbanEconomy4"
    "urbanEconomy5 urbanEconomy5 urbanEconomy6 urbanEconomy6 urbanEconomy7"
    "urbanEconomy8 urbanEconomy8 . . .";
    margin-bottom: 80px;
}
.smartCityScanner__selectionBusiness {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "business1 business1 business2 business3 business4";
    margin-bottom: 80px;
}

.smartCityScanner__selectTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    color: #FFFFFF;
    z-index: 3;
    max-width: 100%;

}
.smartCityScanner__item {
    position: relative;
    min-height: 200px;
    border: 1px solid #BFB8B8;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    transition: all 0.3s ease;

}
.smartCityScanner__item:hover{
    transform: scale(1.03);
}
.smartCityScanner__selectShadow{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-10px, 10px);
    border-radius: 10px;
}
.smartCityScanner__selectShadow_black{
    background: #FF7C00FF;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-10px, 10px);
    border-radius: 10px;
    z-index: 2;
}


@media (max-width: 1150px) {
    .smartCityScanner__selectionSocialSphere {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "socialSphere1 socialSphere1 socialSphere2 socialSphere2"
        "socialSphere3 socialSphere3 socialSphere4 socialSphere5"
        "socialSphere6 socialSphere6 socialSphere7 socialSphere7"
        "socialSphere8 socialSphere9 socialSphere9 socialSphere10"
        "socialSphere11 socialSphere11 . .";
    }

    .smartCityScanner__selectionUrbanEconomy{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "urbanEconomy1 urbanEconomy1 urbanEconomy2 urbanEconomy3"
        "urbanEconomy4 urbanEconomy5 urbanEconomy5 urbanEconomy6"
        "urbanEconomy7 urbanEconomy7 urbanEconomy8 urbanEconomy8";

    }
    .smartCityScanner__selectionBusiness {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "business1 business1 business2 business3"
        "business4 business4 . .";
    }
}
@media (max-width: 1080px) {
    .smartCityScanner__selectionSocialSphere {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "socialSphere1 socialSphere1 socialSphere2"
        "socialSphere3 socialSphere3 socialSphere2"
        "socialSphere4 socialSphere5 socialSphere6"
        "socialSphere7 socialSphere7 socialSphere6"
        "socialSphere8 socialSphere8 socialSphere9"
        "socialSphere10 socialSphere10 socialSphere11";
    }
    .smartCityScanner__selectionBusiness {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "business1 business1 business2"
        "business3 business3 business2"
        "business4 business4 .";
    }
    .smartCityScanner__selectionUrbanEconomy {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "urbanEconomy1 urbanEconomy1 urbanEconomy2"
        "urbanEconomy3 urbanEconomy4 urbanEconomy4"
        "urbanEconomy5 urbanEconomy5 urbanEconomy6"
        "urbanEconomy7 urbanEconomy8 urbanEconomy8";

    }
}
@media (max-width: 710px) {
    .smartCityScanner__box{
        padding: 20px 30px 100px;
    }

}

@media (max-width: 576px) {
    .smartCityScanner__box{
        padding: 20px 10px 30px;
    }
    .smartCityScanner__item {
        background-size: cover!important;
    }
    /*.сalculator__selection {*/
    /*}*/
    .smartCityScanner__selectionSocialSphere {
        display: flex;
        flex-direction: column;
    }
    .smartCityScanner__selectionUrbanEconomy {
        display: flex;
        flex-direction: column;
    }
    .smartCityScanner__selectionBusiness {
        display: flex;
        flex-direction: column;
    }
}
